<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Loan Application Form</title>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body id="bodyId">
    <h1 id="header" class="header">Loan Application</h1>
    <div class="container">
        <form class="form" action="#" th:action="@{/loan}" th:object="${loanApplication}" method="post">
            <div class="input-container">
                <div class="personal-code wrapper">
                    <label for="personalCode">Personal Code:</label>
                    <input type="text" id="personalCode" name="personalCode" size="11" pattern="[0-9]{11}" th:field="*{personalCode}" />
                </div>
                <div class="loanAmount wrapper">
                    <label for="loanAmount">Loan Amount:</label>
                </div>
                <div class="slide-container-loan-amount wrapper">
                    <input type="number" id="loanAmount" value="10" name="loanAmount" min="2000" max="10000" th:field="*{loanAmount}"/>
                    <input type="range" min="2000" max="10000" th:value="*{loanAmount}" class="slider" id="myRange1" oninput="getValueFromSliderLoanAmount(this.value)">
                </div>
                <div class="loanPeriod wrapper">
                    <label for="loanPeriod">Loan Period (months):</label>
                </div>
                <div class="slide-container-loan-period wrapper">
                    <input type="number" id="loanPeriod" name="loanPeriod" min="12" max="60" th:field="*{loanPeriod}"/>
                    <input type="range" min="12" max="60" th:value="*{loanPeriod}" class="slider" id="myRange2" oninput="getValueFromSliderLoanPeriod(this.value)">
                </div>
                <div class="submit wrapper">
                    <input class="button" type="submit" value="Apply" />
                </div>
            </div>
        </form>
        <div class="result" id="result" th:if="${loanApplicationResult}">
            <h2>Decision: <span th:text="${loanApplicationResult.decision} ? 'Positive' : 'Negative'"></span></h2>
            <h2>Motive: <span th:text="${loanApplicationResult.motiveMsg}"></span></h2>
            <div th:if="${loanApplicationResult.applicationForm}">
                <div class="possible-amount" th:switch="${loanApplicationResult.possibleAmountInOriginalMonths}">
                    <h2> Accepted Amount in Requested Months: </h2>
                    <h2 class="amount" th:case="'0'">No Acceptable Amount found</h2>
                    <h2 class="amount" th:case="*" th:text="${loanApplicationResult.possibleAmountInOriginalMonths}"></h2>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${loanApplicationResult}">
        <div th:if="${loanApplicationResult.applicationForm}">
        <span class="new-loan" th:if="${loanApplicationResult.finalLoanPeriod != loanApplicationResult.applicationForm.loanPeriod}">
            <h2 class="new">New Amount: <span th:text="${loanApplicationResult.finalAmount}"></span></h2>
            <h2 class="new">New Loan Period: <span th:text="${loanApplicationResult.finalLoanPeriod}"></span> months</h2>
        </span>
        </div>
    </div>
</body>
</html>